# Code for CodingAI Lesson 2 -- Solutions

***

## The print() function

In [ ]:
print('Hello, World!')
print(Hello, World!)    # error: invalid syntax

In [ ]:
msg = 'Hello, World!'
msg

In [ ]:
user_name = 'Python coder'
msg = 'Hello, ' + user_name + ', how are you?'
print(msg)

In [ ]:
age = 15
msg1 = 'I am ' + age + ' years old.'
print(msg1)    # TypeError

In [ ]:
age = 15
msg1 = 'I am ' + str(age) + ' years old.'
print(msg1)

In [ ]:
print(msg)
print()
print(msg)

In [ ]:
print(msg, end='')
print(end='')
print(msg, end='')

#### Exercise: The print() function

In [ ]:
quantity = 5
msg = 'You order ' + str(quantity) + ' books from our store. Thank you.'
print(msg)

In [ ]:
msg_head = 'You order '
msg_tail = 'Thank you for shopping at PPMall.'
chocolate = 3
orange_juice = 5
movie_ticket = 4
# TODO
msg = msg_head + str(chocolate) + ' chocolate ice-cream, ' + str(orange_juice)
msg += ' orange juice, and ' + str(movie_ticket) + ' movie tickets. '
msg += msg_tail 
print(msg)

***

## Functions

In [ ]:
def f(x):               # def FUNCTION_NAME(ARGUMENT):
    return x + 5

In [ ]:
f(10)

In [ ]:
y = f(10)
print(y)

In [ ]:
def circle_area(r):
    pi = 3.141592654
    area = pi*r**r
    msg = 'The circle with radius ' + str(r) + ' has area = ' + str(area) + '.'
    print(msg)

In [ ]:
y = circle_area(2)
y

In [ ]:
y is None

#### Exercise: Functions

In [ ]:
def f(x):
    return x**2 + 2*x - 3

print(f(0))
print(f(2))
print(f(f(f(2))))

In [ ]:
def box_surface(w, l, h):
    return 2*(w*l + l*h + h*w)

***

## If

In [ ]:
age = 10
if age < 18:
    print('WARNING: You are too young to be drinking beer!')

In [ ]:
age = 23
if age < 18:
    print('WARNING: You are too young to be drinking beer!')
else:
    print("Thanks for buying our beer. When you drink, DON'T drive!")

In [ ]:
print('Thanks for buying our beer. When you drink, DON'T drive!')  # error: invalid syntax

In [ ]:
age = 60
if age < 18:
    print('WARNING: You are too young to be drinking beer!')
elif age == 18:
    print("Congratulations! You've just turned adult and can drink beer! ")
elif age >= 80:
    print('Hi there, at your age, you should not be drinking beer, take care!')
else:
    print("Thanks for buying our beer. When you drink, DON'T drive!")

In [ ]:
def beer_msg(age):
    if age < 18:
        print('WARNING: You are too young to be drinking beer!')
    elif age == 18:
        print("Congratulations! You've just turned adult and can drink beer! ")
    elif age >= 80:
        print('Hi there, at your age, you should not be drinking beer, take care!')
    else:
        print("Thanks for buying our beer. When you drink, DON'T drive!")

In [ ]:
beer_msg(0)
beer_msg(18)
beer_msg(30)
beer_msg(90)

#### Exercises: If

In [ ]:
def how_many(siblings):
    if siblings == 0:
        print("Hi there, let's be friends!")
    elif siblings < 5:
        print('How many brothers do you have? How many sisters do you have?')
    else:
        print('Hey, you can form a basketball team with your siblings! Good for you!')

how_many(0)
how_many(3)
how_many(5)

In [ ]:
def cashier(p, n, e):
    total = 6.5*p + 15*n + 4.8*e
    if total >= 50:
        return total*0.7
    elif total >= 25:
        return total*0.9
    else:
        return total

cashier(2, 0, 1)
cashier(3, 1, 0)
cashier(3, 2, 4)

# explanation: A common error is putting total >= 25. But this makes
#              any total >= 25 (like 100) falls into this if slot.
#              The correct way is to put total >= 50 first.

***

## For Loop I: basics

In [ ]:
for k in range(3, 10):
    print(k)
    print('Hello')

In [ ]:
answer = 0
for n in range(1, 11):
    answer = answer + n      # note there is 4 spaces at the beginning of this line
print(answer)

#### Exercises: For Loop I: basics

In [ ]:
for k in range(3, 17):
    print(2*k)

In [ ]:
for k in range(1, 15):
    print("Python")

In [ ]:
answer = 0
for n in range(1, 101):
    answer = answer + n**2      
print(answer)

In [ ]:
answer = 0
for n in range(14, 73):
    answer = answer + (n+1)*n**2      
print(answer)

***

## For Loop II: Initial and termination values

In [ ]:
for k in range(36, 102, 5):
    print(k)

In [ ]:
for k in range(28, 5, -2):
    print(k)

In [ ]:
for k in [3, 5, 8, 15, 20]:
    print(k)

In [ ]:
for k in range(1, 101):
    print(k*(k+1)/2)

In [ ]:
answer = 0
for k in range(1, 101):
    n = k*(k+1)/2
    answer = answer + n**2
print(answer)

In [ ]:
for k in range(10):
    print(k)

#### Exercises: For Loop II: Initial and termination values

In [ ]:
sum_3 = 0
for k in range(3, 100, 3):
     sum_3 += k
print(sum_3)

In [ ]:
sum_5 = 0
for k in range(5, 100, 5):
     sum_5 += k
print(sum_5)

In [ ]:
# Q3 requires some mathematical reasoning
# if we add answers from Q1 and Q2, we've counted the
# multiples of 15 twice. So subtract those
sum_15 = 0
for k in range(15, 100, 15):
     sum_15 += k
print(sum_3 + sum_5 - 2*sum_15)